.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #000000;
  outline: 0;
  box-shadow: none;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: rgb(4, 43, 43);
}

.sidebar-menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.header {
  width: 100%;
  height: 55px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.active div {
  margin-top: 40px;
  padding: 10px;
  background-color: #ffffff !important;
  color: #000000 !important;
  border-radius: 10px;
}

a{
  color: #000000;
  text-decoration: none;
}
